@tailwind base;
@tailwind components;
@tailwind utilities;

.react-icons {
  size: 40px;
}

.react-icons:hover {
  color: #ff0000; /* Color on hover */
  font-size: 20px; /* Font size on hover */
  size: 30px;
}
